header {
    background-color: blueviolet;
    color: lightpink;
    text-align: center;
}

main {
    background-color: lightgray;
}

body {
    background-image: url("record.png");
    background-repeat: repeat-y;
  
}